@import "../app/variables.scss";

.offer {
	position: relative;
	width: 379px;
	min-height: 381px;
	border: 1px solid #D8D8D8;
	background-color: $secondary-color;

	&:hover {
		border: 1px solid #B8B8B8;
		background-color: #E8E8E8;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 1),
		-23px 0 20px -23px rgba(0, 0, 0, .8),
		23px 0 20px -23px rgba(0, 0, 0, .8),
		0 0 40px rgba(0, 0, 0, .1) inset;	
	}
}

.offer > a {
	text-decoration: none;
	color: black;
}

.offer__image-container {
	width: 377px;
	min-height: 225px;
	position: relative;
	background-color: #E8E8E8;	
}

.offer__label {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 8px 10px 6px 11px;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	color: white;
}

.offer__label--independent {
	background-color: #006F79;
}

.offer__label--support {
	background-color: #EC6608;
}

.offer__description-container {
	padding-top: 20px;
	padding-bottom: 17px;
	padding-left: 20px;
}

.offer__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
	text-align: left;
	margin-bottom: 5px;
}

.offer__address {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	margin-bottom: 15px;	
}

.offer__price {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	margin-bottom: 7px;	
}

.offer__details {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

@media screen and (max-width: $phone-width) {
	.offer {
		width: 100%;
		min-height: auto;
	}

	.offer__image-container {
		width: 100%;
		min-height: 150px;
	}

	.offer__image {
		width: 100%;
		height: auto;
	}

	.offer__title {
		font-size: 14px;
		line-height: 18px;
	}

	.offer__address {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 10px;	
	}

	.offer__price {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 5px;	
	}

	.offer__details {
		font-size: 11px;
		line-height: 26px;
	}
}